.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 400px;
}

.modal h2 {
    margin-top: 0;
}

.modal-body p {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.modal footer {
    text-align: right;
}

.modal button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #2980b9;
}